.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff5edf, #04c8de);
}

.auth-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.gradient-btn {
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  background: linear-gradient(90deg, #4e54c8, #8f94fb);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.switch-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

